		</div>
		<script src="../jquery/jquery.min.js"></script>
		<script src="../popper/popper.min.js"></script>
		<script src="../res-scripts/bootstrap.min.js"></script>
		<script src="../scripts/bundle.min.js"></script>
	</body>

</html>